<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"

    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "org.athanatonero.ge3splash"
    version     = "1.0.0"
    versionCode = "10" >

    <!-- versionCode is optional and Android only -->

    <preference name="phonegap-version" value="3.3.0" />

    <name>Ge3Splash</name>
    <description>
        SDY61 ERG 3
    </description>

        <author href="http://athanatonero.dyndns.org" email="nickout5@yahoo.co.uk">
        Your Name
        </author>


        <gap:plugin name="org.apache.cordova.contacts" />
        <gap:plugin name="org.apache.cordova.dialogs" />
        <gap:plugin name="org.apache.cordova.geolocation" />
        <gap:plugin name="org.apache.cordova.network-information" />
        <gap:plugin name="org.apache.cordova.splashscreen" />
        
        
    </widget>
